
services:
  softwareai_app:
    build: .
    working_dir: /app             # â† add this
    restart: always
    ports:
      - "829:829"
    command: > 
      sh -c "python Chat_app.py"
    mem_limit: 500MB
    cpus: "1.25"   
